<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formulário de Solicitação</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup] = "fGroup">
<div>
    <ion-card>
      <ion-card-header align="center"><strong>Dados do Contato</strong></ion-card-header> 
      <ion-item>
        <ion-label position="floating">*Nome</ion-label>
        <ion-input Type="text" name="SolicNome" position="floating" formControlName="SolicNome"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*e-mail</ion-label>
        <ion-input type="email" name="SolicEmail" position="floating" formControlName="SolicEmail"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*Tel</ion-label>
        <ion-input type="tel" name="SolicFone" position="floating" formControlName="SolicFone"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Foi foi indicado por </ion-label>
        <ion-input type="text" name="SolicIndicacao" position="floating" formControlName="SolicIndicacao"></ion-input>
      </ion-item>  
    </ion-card>

    <ion-card>
      <ion-card-header align="center"><strong>Dados da empresa</strong></ion-card-header> 
      <ion-item>
        <ion-label position="floating">*Razão Social</ion-label>
        <ion-input Type="text" name="SolicRazaoSocial" type="text" position="floating" formControlName="SolicRazaoSocial"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Nome Fantasia :</ion-label>
        <ion-input type="text" name="SolicNomeFantasia" position="floating" formControlName="SolicNomeFantasia"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">*CNPJ (somente números)</ion-label>
        <ion-input type="number" name="SolicCnpj"  position="floating" formControlName="SolicCnpj"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Insc. Estadual</ion-label>
        <ion-input type="number" name="SolicIe"  position="floating" formControlName="SolicIe"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Endereço Eletrônico (site)</ion-label>
        <ion-input type="text" name="SolicSite"  position="floating" formControlName="SolicSite"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position="floating">*Número de Colaboradores (CLT)</ion-label>
        <ion-input type="number" name="SolicNroFunc"  position="floating" formControlName="SolicNroFunc"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position="floating">*Número de Colaboradores (Terceirizados)</ion-label>
        <ion-input type="number" name="SolicNroTerc"  position="floating" formControlName="SolicNroTerc"></ion-input>
      </ion-item>
    <ion-card>
       <ion-card-header align="center"><strong>Endereço Completo</strong></ion-card-header> 
       <ion-item>
         <ion-label position="floating">*CEP</ion-label>
         <ion-input type="number" name="SolicCep"  position="floating" formControlName="SolicCep"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">*Logradouro</ion-label>
         <ion-input type="text" name="SolicLogradouro" position="floating" formControlName="SolicLogradouro"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Complemento</ion-label>
         <ion-input type="text" name="SolicComplemento"  position="floating" formControlName="SolicComplemento"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">*Bairro</ion-label>
         <ion-input type="text" name="SolicBairro"  position="floating" formControlName="SolicBairro"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">*Cidade</ion-label>
         <ion-input type="text" name="SolicCidade"  position="floating" formControlName="SolicCidade"></ion-input>
       </ion-item>   
       <ion-item line="yes">
         <ion-label >*Estado</ion-label>
         <ion-select name="SolicUf" multiple="false" cancelText="Cancel" okText="OK" formControlName="SolicUf">
         <ion-select-option value="SP">São Paulo</ion-select-option>
         <ion-select-option value="AC">Acre</ion-select-option>
         <ion-select-option value="AL">Alagoas</ion-select-option>
         <ion-select-option value="AP">Amapá</ion-select-option>
         <ion-select-option value="AM">Amazonas</ion-select-option>
         <ion-select-option value="BA">Bahia</ion-select-option>
         <ion-select-option value="CE">Ceará</ion-select-option>
         <ion-select-option value="DF">Distrito Federal</ion-select-option>
         <ion-select-option value="ES">Espírito Santo</ion-select-option>
         <ion-select-option value="GO">Goiás</ion-select-option>
         <ion-select-option value="MA">Maranhão</ion-select-option>
         <ion-select-option value="MT">Mato Grosso</ion-select-option>
         <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
         <ion-select-option value="MG">Minas Gerais</ion-select-option>
         <ion-select-option value="PA">Pará</ion-select-option>
         <ion-select-option value="PB">Paraíba</ion-select-option>
         <ion-select-option value="PR">Paraná</ion-select-option>
         <ion-select-option value="PE">Pernambuco</ion-select-option>
         <ion-select-option value="PI">Piauí</ion-select-option>
         <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
         <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
         <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
         <ion-select-option value="RO">Rondônia</ion-select-option>
         <ion-select-option value="RR">Roraima</ion-select-option>
         <ion-select-option value="SC">Santa Catarina</ion-select-option>
         <ion-select-option value="SE">Sergipe</ion-select-option>
         <ion-select-option value="TO">Tocantins</ion-select-option>
         </ion-select>
       </ion-item>   
     </ion-card>

    </ion-card>
    
    <ion-card>
      <ion-card-header align="center"><strong>Sócio Responsável</strong></ion-card-header> 
      <ion-item>
        <ion-label position="floating">*Nome</ion-label>
        <ion-input type="text" name="SolicSocioNome" position="floating" formControlName="SolicSocioNome"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*CPF</ion-label>
        <ion-input type="number" name="SolicSocioCpf" position="floating" formControlName="SolicSocioCpf"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*e-mail</ion-label>
        <ion-input type="email" name="SolicSocioEmail" position="floating" formControlName="SolicSocioEmail"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*Tel</ion-label>
        <ion-input type="tel" position="floating" name="SolicSocioFone" formControlName="SolicSocioFone"></ion-input>
      </ion-item>
    </ion-card>
   
    <ion-card>
      <ion-card-header align="center"><strong>Dados Bancários (PJ)</strong></ion-card-header> 
      <ion-item>
        <ion-label position="floating">*Banco</ion-label>
        <ion-input type="text" name="SolicInstFinanc" position="floating" formControlName="SolicInstFinanc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">*Numero Agência</ion-label>
        <ion-input type="text" name="SolicCodAgencia" position="floating" formControlName="SolicCodAgencia"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dígito da Agência</ion-label>
        <ion-input type="text" name="SolicDigAgencia" position="floating" formControlName="SolicDigAgencia"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">*Conta Corrente</ion-label>
        <ion-input type="text" name="SolicContaCorrente" position="floating" formControlName="SolicContaCorrente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dígito da Conta Corrente</ion-label>
        <ion-input type="text" name="SolicDigContaCorrente" position="floating" formControlName="SolicDigContaCorrente"></ion-input>
      </ion-item> 
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">*Valor Pretendido</ion-label>
        <ion-input type="number" name="SolicValorPretendido" formControlName="SolicValorPretendido" position="floating"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-checkbox checked="false" color="primary" slot="start" name="SolicAcordoVerac" formControlName="SolicAcordoVerac"></ion-checkbox>
        <ion-label>Confirmo a Veracidade das Informações</ion-label>
      </ion-item> 
      <p>&nbsp;&nbsp;- Declaro serem totalmente verídicas as informações fornecidas para a realização das operações, sob pena de falso testemunho previsto no art. 342 do Código Penal. </p>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-checkbox checked="false" color="primary" slot="start" [(ngModel)]="Solic.SolicAcordoAdm" [ngModelOptions]="{standalone: true}"></ion-checkbox> 
        <ion-label>Estou de acordo</ion-label>
      </ion-item>
      <p>&nbsp;&nbsp;- Estou ciente de que a "S S Consultoria e Assessoria Jurídica" cobrará uma taxa administrativa de 10(dez) por cento do valor do financiamento liberado por esse processo,  
        pela Consultoria/Assessoria realizada nesta operação.</p>
    </ion-card>
     
  <p align="center">
    <ion-button  color="primary" size="medium" (click)="SubmitForm()" [disabled]="!fGroup.valid">Gravar</ion-button></p>
  </div>
</form>
  </ion-content>