<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Passo a Passo do Processo</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content fullscreen class="ion-padding" >
 
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <ion-icon name="log-in-outline" color="primary" style="zoom:6.0;"></ion-icon>
        <h2>1 - Crie sua credencial (Login)</h2>
        <p>&nbsp;Accesse a página de Login e crie sua credencial de acesso. 
          Isto pode ser feito no seu computador ou mesmo no seu celular ou tablet.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
      <ion-icon name="reader-outline" color="primary" style="zoom:6.0;"></ion-icon>
      <h3>2 - Preencher o Formulário de Intenção de Financiamento </h3>
      <p>&nbsp;Após entrar com sua credencial você poderá preencher o formulário de intenção de financiamento. 
        Após o preechimento, você já poderá também realizar o próximo passo.</p>
      <p>&nbsp;Caso precise, você poderá preencher mais de uma intenção de financiamento, uma para cada CNPJ.</p>
      <p>&nbsp;Neste Formulário existem informações que estão marcadas com "*". 
        Isto indica que eles devem ser obrigatoriamente preenchidas.</p>
     </div>
    </ion-slide>

    <ion-slide>
      <div>
      <ion-icon name="document-attach-outline" color="primary" style="zoom:6.0;"></ion-icon>
      <h2>3 - Contratos de Confidencialidade e Assessoria </h2>
      <p>&nbsp;Nesta etapa você deve fazer o download dos 3 documentos, sendo eles : 
        Contrato de Assessoria, Termo de Confidencialidade e Procuração.</p>
      <p>&nbsp;O Termo de Confidencialidade garante a sigilosidade das informações enviadas. O contrato de Assessoria 
        se refere aos nossos serviços de consultoria e assessoria para a obtenção do financiamento junto ao BNDES.
      A Procuração é específica para este processo e serve para que o nosso escritório possa ter autonomia 
      e representativade para entrar com a solicitação junto ao BNDES, bem como acompanhar e dar andamento ao processo. </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-icon name="hourglass-outline" color="primary" style="zoom:6.0;"></ion-icon>
      <h2>4 - Análise e envio das informações para o BNDES</h2>
      <p>&nbsp;Esta etapa é realizada por nós. Você poderá acompanhar suas solicitações pelo sistema, 
        para verificar o andamento do(s) processos.</p>
      <p>&nbsp;Caso não queira acompanhar pelo site, não se preocupe. O sistema irá lhe enviar um e-mail avisando sobre 
        cada mudança ou atualização realizada por nós.</p> 
      <p>&nbsp;É muito provavel que nesta etapa seja solicitados outros documentos para que possamos
        dar prosseguimento com sua solicitação.</p>
      <p><strong>&nbsp;Importante :</strong>Esta Etapa só é iniciada quando você anexar e nos enviar (por este site mesmo) 
        todos os documentos solicitados.</p></div>
    </ion-slide>

    <ion-slide>
      <div>
       <ion-icon name="checkmark-done-circle-outline" color="primary" style="zoom:6.0;"></ion-icon>
      <h2>5 - Assinatura do Contrato de Financiamento</h2>
      <p>Uma vez aprovada a sua solicitação junto ao BNDES, você receberá o contrato de financiamento. 
        Faça o download do documento, assine-o, escaneie-o, anexe ao sistema e nos envie.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-icon name="cash-outline" color="primary" style="zoom:6.0;"></ion-icon>
      <h2>6 - Realização do Crédito</h2>
      <p>&nbsp;Após recebimento do contrato de financiamento nova verificação será realizada por nós e pelo BNDES. 
        Você será avisado da aprovação ou reprovação do contrato. Não será cobrado qualquer valor se 
        a sua solicitação for reprovada.</p>
      <p>&nbsp;Uma vez aprovada, você receberá o crédito do financiamento em conta corrente informada no cadastro inicial.</p>
      <p>&nbsp;Somente após o crédito confirmado que você deverá nos reembolsar pelos serviços realizados, respeitando as  
        cláusulas estabelecidas no contrato de Assessoria firmado entre as partes.</p>
      </div>
    </ion-slide>

  </ion-slides>

  </ion-content>